.elevatorButtonContainer {
  display: flex;
  flex-direction: column;
}
.elevatorButton {
  width: 80px;
  margin: 10px;
}

.stageContainer {
  display: flex;
}
.stage {
  margin: 20px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elevatorButtonRow {
  display: flex;
  justify-content: center;
}
.test {
  font-size: 40px;
}
.elevatorPanel {
  background-color: aquamarine;
}

table {
  width: 100%;
  border-spacing: 0pt;
  border-collapse: separate;
}

td {
  padding: 10px;
  color: #283673;
  border: 2px solid #283673;
  text-align: center;
}
.elevatorButtonSelected {
  background-color: yellow;
  color: black;
  width: 80px;
  margin: 10px;
}
